/* Custom Channel Buttons */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 a .iconContainer-21RCa3{
    --size:32px;
    left:calc(50% - 16px);
    margin-bottom:12px
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 a .name-28HaxV{
    text-align:center;
    font-size:14px
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3{
    width:50%;
    margin-left:8px;
    margin-bottom:8px
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3 .content-1gYQeQ{
    padding:8px;
    margin:0
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3:nth-child(odd){
    width:calc(50% - 8px)
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3:nth-child(even){
    width:calc(50% - 8px)
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3 .content-1gYQeQ .mainContent-20q_Hp .iconContainer-21RCa3{
    transition:transform 45ms ease
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3 .content-1gYQeQ:active .mainContent-20q_Hp .iconContainer-21RCa3{
    transform:translate(0,2px)
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3 .mainContent-20q_Hp{
    display:block
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-3TQ5YN{
    width:100%
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .wrapper-NhbLHG{
    padding:0
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .content-1gYQeQ{
    background-color:var(--background-transparent-header)
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .content-1gYQeQ:hover{
    background-color:var(--background-modifier-hover)
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-3TQ5YN~.containerDefault-YUSmu3{
    width:100%
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .name-3Uvkvr{
    font-size:calc(var(--server-title-fontsize) + 2px)
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"]:after{
    content:"";
    background-color:#534466;
    height:24px
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .scroller-1ox3I2.thin-31rlnD.scrollerBase-_bVAAt{
    --mask-image:none
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] [data-list-item-id*="channels___upcoming-events-"]>div.iconContainer-21RCa3>svg{
    height:32px;
    width:32px;
    margin-left:calc(50% - 8px);
    margin-bottom:12px
}
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] [data-list-item-id*="channels___upcoming-events-"]>div.name-28HaxV{
    text-align:center;
    font-size:14px;
    font-family:dash2space,var(--font-primary);
    text-transform:capitalize
}
