:root {
    --theme-version-dev: "22.07.05b@dev ";
    --bdAddonMini-bg-unchecked-hover: #0a0a0a;
    --SC-spotify-green: hsl(141, 76%, 48%);
    --bdfdb-blurple: hsl(235, 87%, 65%);
    --bdfdb-green: hsl(153, 46%, 49%);
    --bdfdb-yellow: hsl(38, 96%, 54%);
    --bdfdb-red: hsl(359, 67%, 54%);
}

[id^="Simple Black Theme Dev Build"] .bd-addon-header .bd-version {
    font-size: 0;
}
[id^="Simple Black Theme Dev Build"] .bd-addon-header .bd-version:before {
    font-size: 12px;
    content: "Release: " var(--theme-version-dev);
}
.info-3pQQBb > span:first-child::before {
    content: "Simple Black " var(--theme-version-dev);
}

.theme-dark .base-2jDfDU .content-1SgpWY .container-2cd8Mz {
    background-color: var(--background-primary);
}

.theme-dark .pageWrapper-2PwDoS {
    background-color: var(--background-primary);
}

.container-ZMc96U.themed-Hp1KC_ {
    background: #000000;
}

.theme-dark .bd-social-logo path {
    fill: #5865f2;
}

.theme-dark .container-x8Y1ix {
    background-color: #000000;
}

.theme-dark .root-g14mjS,
.theme-dark .footer-31IekZ,
.theme-dark .autocomplete-3NRXG8 {
    background-color: #0a0a0a;
}

.theme-dark .footerSeparator-VzAYwb {
    -webkit-box-shadow: inset 0 1px 0 rgba(10, 10, 10,.6);
    box-shadow: inset 0 1px 0 rgba(10, 10, 10,.6);
}

.theme-dark .colorHeaderSecondary-g5teka {
    color: #afafaf;
}

.theme-dark [id^=uid_1] > h3,
.theme-dark .footerSeparator-VzAYwb > h3,
.theme-dark .colorStandard-21JIj7,
.theme-dark .base-21yXnu {
    color: #ffffff;
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color: #252525;
}

.theme-dark .lookBlank-21BCro {
    color: #afafaf;
}

.theme-dark .input-2g-os5 {
    color: #afafaf;
    background-color: #000000;
}

.theme-dark .anchor-1MIwyf {
    color: #5865f2;
}

.theme-dark .container-2rCwVJ > div > div > div > input{
    background-color: #ffffff;
}

.theme-dark .examplesForm-N_P087 .sampleLink-5BWNy9{
    color: #afafaf;
}

.theme-dark .rowContainer-3t7486 {
    background-color: #000000;
}
.theme-dark .rowContainer-3t7486 .rowIcon-1mRvtM {
    color: #43b683;
}

.theme-dark .perksModal-CLcR1c {
    background-color: var(--background-primary);
}

.theme-dark .keyboardShortcutsModal-2CRmCm {
    background-color: var(--background-secondary);
}

.ctaBar-Nhk8yY,
.theme-dark .tierBody-3ju-rc,
.theme-dark .perk-19D_HN {
    background-color: var(--background-tertiary);
}

.theme-dark .spoilerText-27bIiA.hidden-3B-Rum {
    background-color: var(--spoiler-hidden-background);
}
.theme-dark .spoilerText-27bIiA {
    background-color: var(--spoiler-revealed-background);
}

.theme-dark .embedFull-1HGV2S {
    background: var(--background-tertiary);
}

.theme-dark .background-fkKrXt {
    background-color: var(--background-primary);
}

.theme-dark .container-4HqGB3.background-3X6Uak,
.theme-dark .container-2Hi7Km,
.theme-dark .container-xwOzwi {
    background-color: var(--background-tertiary);
}

.theme-dark .icon-2IDTxf {
    border-top: 4px solid var(--background-tertiary);
    border-left: 4px solid var(--background-tertiary);
    border-right: 4px solid var(--background-tertiary);
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color: var(--button-secondary-background);
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    background-color: var(--button-secondary-background-hover);
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:active {
    background-color: var(--button-secondary-background-active);
}

.content-vSHmMD .anchor-1MIwyf {
    color: #ffffff;
}

[id^=message-content] > .betterMessageLinks{
    color: var(--interactive-active);
}

.member-2gU6Ar[data-user-id^="956643162456203364"],
.message-2CShn3[data-author-id="956643162456203364"] > .contents-2MsGLg > .header-2jRmjb,
.message-2CShn3[data-author-id="956643162456203364"] > .contents-2MsGLg > .avatar-2e8lTP {
    display: none;
}

.markup-eYLPri a {
    border-color: var(--text-muted);
}

.bd-settings-title {
    color: var(--header-primary);
}

.bd-button,
.bd-addon-views .bd-view-button.selected,
.bd-addon-modal-footer .bd-button {
    background-color: var(--button-color);
}

.bd-button:hover,
.bd-addon-modal-footer .bd-button:hover {
    background-color: var(--button-color-hover);
}

.wrapper-1HIH0j {
    background-color: var(--background-tertiary);
}

.categoryHeader-OpJ1Ly {
    background-color: var(--scrollbar-thumb);
}

.cardWarning-WRe-Qaf,
.cardWarning-WRe-Qa, .cardWarningOutline-oI6sWf {
    border-color: var(--info-warning-foreground);
}

.circleIconButton-1VxDrg {
    color: var(--button-positive-background);
}
.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: var(--button-positive-background);
}
.circleIconButton-1VxDrg.nitroUpsell-2KcFaN {
    color: var(--interactive-active);
}

.mentioned-Tre-dv,
.replying-eZ7p5z {
    background-color: var(--mentioned-background);
}
.mentioned-Tre-dv.selected-2LX7Jy,
.mouse-mode.full-motion .replying-eZ7p5z:hover {
    background-color: var(--mentioned-background-hover);
}
.mentioned-Tre-dv:before,
.mentioned-Tre-dv:hover:before {
    background-color: var(--mentioned-color);
}

.newMessagesBar-1hF-9G,
.jumpToPresentBar-1cEnH0 {
    opacity: 1;
    background-color: var(--button-color);
}
.newMessagesBar-1hF-9G:hover,
.jumpToPresentBar-1cEnH0:hover {
    opacity: 1;
    background-color: var(--button-color-hover);
}
.newMessagesBar-1hF-9G:active,
.jumpToPresentBar-1cEnH0:active {
    opacity: 1;
    background-color: var(--button-color-active);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: var(--button-color);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: var(--button-color-hover);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:active {
    background-color: var(--button-color-active);
}

a[title^=Twitter].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX > svg > g > path,
a[title^=Facebook].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX > svg > g > path,
a[title^=Instagram].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX > svg > g > path {
    fill: var(--interactive-normal);
}
a[title^=Twitter].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:hover > svg > g > path,
a[title^=Facebook].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:hover > svg > g > path,
a[title^=Instagram].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:hover > svg > g > path {
    fill: var(--interactive-hover);
}
a[title^=Twitter].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:active > svg > g > path,
a[title^=Facebook].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:active > svg > g > path,
a[title^=Instagram].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:active > svg > g > path {
    fill: var(--interactive-active);
}

.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX.bd-social-link > svg > g > path {
    fill: var(--interactive-normal);
}
.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX.bd-social-link:hover > svg > g > path:nth-child(2) {
    fill: var(--interactive-active);
}
.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX.bd-social-link:active > svg > g > path {
    fill: var(--interactive-active);
}

.lookOutlined-3yKVGo.colorRed-rQXKgM:active {
    background-color: var(--button-outline-danger-background-active);
    border-color: var(--button-outline-danger-border-active);
}

.rtcConnectionStatusConnected-1c73OK.lookBlank-21BCro {
    color: var(--text-positive);
}

.colorBrand-3cPPsm {
    color: var(--text-brand)
}

.colorPremium-vwmYZQ {
    color: var(--nitro-color)
}
.colorPremium-vwmYZQ.focused-3qFvc8 {
    background-color: var(--nitro-color)
}
.colorPremium-vwmYZQ.focused-3qFvc8:active {
    background-color: var(--nitro-color-active)
}

.barForeground-2kwBa_ {
    background-color: var(--nitro-color);
}

.serverBoostTabItem-3QwA3W[aria-selected=true],
.item-3XjbnG.selected-g-kMVV.themed-2-lozF > .background-Gjdjzm.selectedBackground-1t6xXq {
    background-color: var(--nitro-color)!important;
}

.tierMarkerBackground-G8FoN4 {
    background-color: #ff75fa00;
}
.tierMarkerInProgress-2Tdxjz {
    background-color: #ff75fa57;
}
.tierMarkerAccomplished-1SkbEJ {
    background-color: #ff75fa;
}

.theme-dark .message-G6O-Wv {
    background-color: var(--background-primary);
}

.item-3XjbnG[aria-label="Log Out"] {
    color: var(--button-danger-background);
}
.item-3XjbnG[aria-label="Log Out"]:hover {
    color: var(--interactive-active);
}
.item-3XjbnG[aria-label="Log Out"]:active {
    color: var(--interactive-active);
}
.themed-2-lozF.item-3XjbnG[aria-label="Log Out"]:hover:not(.disabled-1nofHP) {
    background-color: var(--button-danger-background);
}
.themed-2-lozF.item-3XjbnG[aria-label="Log Out"]:active:not(.disabled-1nofHP) {
    background-color: var(--button-danger-background-active);
}

.item-1OdjEX[id="user-context-block"] {
    color: var(--button-danger-background);
}
.item-1OdjEX[id="user-context-block"].focused-3qFvc8 {
    background-color: var(--button-danger-background);
    color: var(--interactive-active);
}
.item-1OdjEX[id="user-context-block"]:active:not(.hideInteraction-2jPGL_), 
.item-1OdjEX[id="user-context-block"]:active.focused-3qFvc8 {
    background-color: var(--button-danger-background-active);
    color: var(--interactive-active);
}

.colorInfo-1kEg3T {
    background-color: var(--info-help-foreground);
    color: var(--info-help-text);
}
.colorInfo-1kEg3T .button-1iHNQ2:hover {
    color: var(--info-help-foreground);
}
.colorSuccess-2js6tw {
    background-color: var(--info-positive-foreground);
    color: var(--info-positive-text);
}

.ownerIcon-255uKo.icon-1dGlZy.owner-FfFh3B {
    color: hsl(38, 96%, 54%);
}
.ownerIcon-255uKo.icon-1dGlZy.admin-Kv1Hp_ {
    color: hsl(255, 2%, 67%);
}
.ownerIcon-255uKo.icon-1dGlZy.management-3fF_o8 {
    color: hsl(35, 85%, 29%);
}

.theme-dark .keybindShortcut-3zF1P9 .key-N5VmHN {
    -webkit-box-shadow: inset 0 -4px 0 #252525;
    box-shadow: inset 0 -4px 0 #252525;
}
.theme-dark .key-N5VmHN {
    background-color: var(--background-accent);
    border: 1px solid var(--background-primary);
}

a.anchor-1MIwyf[href="https://support.discord.com"] {
    display: none;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin {
    background-color: var(--background-tertiary) !important;
}

.ShowSessions-list-sessionsList {
    color: var(--header-primary) !important;
}
.ShowSessions-list-item {
    background-color: var(--background-tertiary) !important;
}

.item-3XjbnG.themed-2-lozF[aria-controls="hypesquad-online-tab"] {
    display: none;
}
