/**
 * @name Simple Black Theme
 * @author OlavWolfiken
 * @authorId 
 * @authorLink https://github.com/OlavWolfiken
 * @version AutoUpdate
 * @description A simple black theme for BetterDiscord. Includes [compact BD add-on menus](https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css) by [Disease](https://github.com/maendisease).
 * @website https://olavwolfiken.github.io/BetterDiscord/
 * @source https://github.com/OlavWolfiken/BetterDiscord/tree/main/Themes/Simple%20Black%20Theme
 * @invite RYsm9RWv66
 * @donate 
 * @patreon 
 * @updateUrl https://olavwolfiken.github.io/BetterDiscord/Themes/Simple%20Black%20Theme/simple-black.theme.css
**/
@import url("https://olavwolfiken.github.io/BetterDiscord/Themes/Simple%20Black%20Theme/simple-black.source.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css");

:root {
    --text-muted:                                 hsl(0, calc(var(--saturation-factor, 1)*0%), 69%);
    --text-link:                               hsl(235, calc(var(--saturation-factor, 1)*86%), 65%);
    --text-positive:                           hsl(153, calc(var(--saturation-factor, 1)*46%), 49%);
    --text-warning:                             hsl(38, calc(var(--saturation-factor, 1)*96%), 54%);
    --text-danger:                             hsl(359, calc(var(--saturation-factor, 1)*67%), 54%);
    --text-brand:                              hsl(235, calc(var(--saturation-factor, 1)*87%), 65%);
    --nitro-color:                            hsl(302, calc(var(--saturation-factor, 1)*100%), 73%);
    --nitro-color-alt:                hsla(302, calc(var(--saturation-factor, 1)*100%), 73%, 0.502);
    --background-mentioned:            hsla(235, calc(var(--saturation-factor, 1)*86%), 65%, 0.145);
    --background-mentioned-hover:      hsla(235, calc(var(--saturation-factor, 1)*86%), 65%, 0.314);
    --status-warning-background:       hsla(235, calc(var(--saturation-factor, 1)*86%), 65%, 0.314);
    --info-warning-background:         hsla(235, calc(var(--saturation-factor, 1)*86%), 65%, 0.314);
    --info-warning-foreground:                 hsl(235, calc(var(--saturation-factor, 1)*86%), 65%);
    --button-color:                            hsl(235, calc(var(--saturation-factor, 1)*87%), 65%);
    --button-color-hover:                      hsl(235, calc(var(--saturation-factor, 1)*51%), 52%);
    --button-color-active:                     hsl(235, calc(var(--saturation-factor, 1)*47%), 44%);
    --button-danger-background:                hsl(359, calc(var(--saturation-factor, 1)*67%), 54%);
    --button-danger-background-hover:          hsl(359, calc(var(--saturation-factor, 1)*67%), 44%);
    --button-danger-background-active:         hsl(359, calc(var(--saturation-factor, 1)*67%), 34%);
    --button-danger-background-disabled:       hsl(359, calc(var(--saturation-factor, 1)*67%), 24%);
    --button-outline-danger-border-active:     hsl(359, calc(var(--saturation-factor, 1)*67%), 34%);
    --button-outline-danger-background-active: hsl(359, calc(var(--saturation-factor, 1)*67%), 34%);
    --button-positive-background:              hsl(153, calc(var(--saturation-factor, 1)*46%), 49%);
    --button-positive-background-hover:        hsl(153, calc(var(--saturation-factor, 1)*46%), 44%);
    --button-positive-background-active:       hsl(153, calc(var(--saturation-factor, 1)*46%), 34%);
    --button-positive-background-disabled:     hsl(153, calc(var(--saturation-factor, 1)*46%), 24%);
}
.theme-dark {
    --channels-default:                        #afafaf;
    --interactive-normal:                      #afafaf;
    --interactive-hover:                       #cacaca;
    --interactive-active:                      #ffffff;
    --channel-color:                           #000000;
    --channeltextarea-background:              #0e0e0e;
    --chat-color:                              #000000;
    --chat-shadow-color:                       #000000;
    --background-primary:                      #000000;
    --background-secondary:                    #000000;
    --background-secondary-alt:                #000000;
    --background-tertiary:                     #0a0a0a;
    --scrollbar-thumb:                         #252525;
    --background-floating:                     #0e0e0e;
    --background-modifier-hover:               #252525;
    --background-modifier-accent:              #252525;
    --background-message-hover:              #25252557;
    --spoiler-hidden-background:               #151515;
    --spoiler-revealed-background:             #000000;
}
