@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pill-L_aLMQ.bd-selected + .listItemWrapper-3d87LP .homeIcon-r0w4ny {
    animation: spin 0.8s ease;
}

:root {
    --theme-version: "22.04.24 ";
    --bdAddonMini-bg-unchecked-hover: #0a0a0a;
    --bdfdb-green: #43b683;
}

[id^="Simple Black Theme"] .bd-addon-header .bd-version {
    font-size: 0;
}

[id^="Simple Black Theme"] .bd-addon-header .bd-version:before {
    font-size: 12px;
    content: "Release: " var(--theme-version);
}

.info-3pQQBb > span:first-child::before {
    content: "Simple Black " var(--theme-version);
}

[...]
