:root {
    --theme-version: "22.04.24 ";
    --bdAddonMini-bg-unchecked-hover: #0a0a0a;
    --bdfdb-green: #43b683;
}

[id^="Simple Black Theme"] .bd-addon-header .bd-version {
    font-size: 0;
}

[id^="Simple Black Theme"] .bd-addon-header .bd-version:before {
    font-size: 12px;
    content: "Release: " var(--theme-version);
}

.info-3pQQBb > span:first-child::before {
    content: "Simple Black " var(--theme-version);
}

[...]
