/**
 * @name Simple Black Theme
 * @author OlavWolfiken
 * @authorId 
 * @authorLink https://github.com/OlavWolfiken
 * @version AutoUpdate
 * @description A simple black theme for BetterDiscord. Includes [compact BD add-on menus](https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css) by [Disease](https://github.com/maendisease).
 * @website https://olavwolfiken.github.io/BetterDiscord/
 * @source https://github.com/OlavWolfiken/BetterDiscord/tree/main/Themes/Simple%20Black%20Theme
 * @invite RYsm9RWv66
 * @donate 
 * @patreon 
 * @updateUrl https://olavwolfiken.github.io/BetterDiscord/Themes/Simple%20Black%20Theme/simple-black.theme.css
**/
@import url("https://olavwolfiken.github.io/BetterDiscord/Themes/Simple%20Black%20Theme/source/main.css");
@import url("https://olavwolfiken.github.io/BetterDiscord/Themes/Simple%20Black%20Theme/css/UserBackgrounds.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css");

:root {
/* Header Colors */
    --header-primary:                          hsl(0, 0%, 100%);
    --header-secondary:                        hsl(216, 4%, 74%);
/* Test Colors */
    --text-normal:                             hsl(0, 0%, 90%);
    --text-muted:                              hsl(0, 0%, 60%);
    --text-link:                               hsl(235, 86%, 65%);
    --text-link-low-saturation:                hsl(235, 43%, 65%);
    --text-positive:                           hsl(153, 46%, 49%);
    --text-warning:                            hsl(38, 96%, 54%);
    --text-danger:                             hsl(359, 67%, 54%);
    --text-brand:                              hsl(235, 87%, 65%);
/* Nitro Colors */
    --nitro-color:                             hsl(302, 100%, 73%);
    --nitro-color-active:                      hsl(302, 100%, 66%);
/* Control Brand Colors */
    --control-brand-foreground:                hsl(235, 86.1%, 77.5%);
    --control-brand-foreground-new:            hsl(235, 86.1%, 77.5%);
/* Mention Colors */
    --background-mentioned:                    hsla(235, 86%, 65%, 0.145);
    --background-mentioned-hover:              hsla(235, 86%, 65%, 0.314);
/* Message Hover Colors */
    --background-message-hover:                hsla(0, 0%, 15%, 0.314);
    --background-message-automod:              hsla(359, 67%, 54%, 0.145);
    --background-message-automod-hover:        hsla(359, 67%, 54%, 0.314);
/* Info Colors */
    --info-positive-background:                hsla(153, 46%, 49%, 0.314);
    --info-positive-foreground:                hsl(153, 46%, 49%);
    --info-warning-background:                 hsla(235, 86%, 65%, 0.314);
    --info-warning-foreground:                 hsl(235, 86%, 65%);
    --info-danger-background:                  hsla(359, 67%, 54%, 0.314);
    --info-danger-foreground:                  hsl(359, 67%, 54%);
/* Status Colors */
    --status-positive-text:                    #ffffff;
    --status-warning-text:                     #000000;
    --status-danger-text:                      #ffffff;
    --status-positive-background:              hsla(153, 46%, 49%, 0.314);
    --status-positive-foreground:              hsl(153, 46%, 49%);
    --status-warning-background:               hsla(38, 96%, 54%, 0.314);
    --status-warning-foreground:               hsl(38, 96%, 54%);
    --status-danger-background:                hsla(359, 67%, 54%, 0.314);
    --status-danger-foreground:                hsl(359, 67%, 54%);
    --status-positive:                         hsl(153, 46%, 49%);
    --status-warning:                          hsl(38, 96%, 54%);
    --status-danger:                           hsl(359, 67%, 54%);
/* Button Colors */
    --button-color:                            hsl(235, 87%, 65%);
    --button-color-hover:                      hsl(235, 68%, 58%);
    --button-color-active:                     hsl(235, 49%, 51%);
    --button-color-disabled:                   hsl(235, 30%, 44%);
    --button-danger-background:                hsl(359, 67%, 54%);
    --button-danger-background-hover:          hsl(359, 67%, 44%);
    --button-danger-background-active:         hsl(359, 67%, 34%);
    --button-danger-background-disabled:       hsl(359, 67%, 24%);
    --button-positive-background:              hsl(153, 46%, 49%);
    --button-positive-background-hover:        hsl(153, 46%, 44%);
    --button-positive-background-active:       hsl(153, 46%, 34%);
    --button-positive-background-disabled:     hsl(153, 46%, 24%);
    --button-secondary-background:             hsl(0, 0%, 15%);
    --button-secondary-background-hover:       hsl(0, 0%, 10%);
    --button-secondary-background-active:      hsl(0, 0%, 5%);
    --button-secondary-background-disabled:    hsl(0, 0%, 1%);
    --button-outline-danger-border-active:     hsl(359, 67%, 34%);
    --button-outline-danger-background-active: hsl(359, 67%, 34%);
}
.theme-dark {
    --logo-primary: #ffffff;
/* Background Colors */
    --background-primary:          #000000;
    --background-secondary:        #000000;
    --background-secondary-alt:    #000000;
    --background-tertiary:         #0a0a0a;
    --background-accent:           #0a0a0a;
    --background-floating:         #0e0e0e;
    --background-nested-floating:  #2f2f2f;
    --background-mobile-primary:   #0a0a0a;
    --background-mobile-secondary: #2f2f2f;
/* Chat Colors */
    --chat-background:                 #0a0a0a;
    --chat-border:                     #252525;
    --chat-input-container-background: #0a0a0a;
/* Background Modifier Colors */
    --background-modifier-hover:   #252525cc;
    --background-modifier-active:  #25252599;
    --background-modifier-selected:#25252566;
    --background-modifier-accent:  #25252599;
/* Modal Colors */
    --modal-background:        #0a0a0a;
    --modal-footer-background: #0a0a0a;
/* Scrollbar Colors */
    --scrollbar-thin-thumb:                 #252525;
    --scrollbar-thin-track:               #2f2f2f00;
    --scrollbar-auto-thumb:                 #252525;
    --scrollbar-auto-track:                 #2f2f2f;
    --scrollbar-auto-scrollbar-color-thumb: #252525;
    --scrollbar-auto-scrollbar-color-track: #2f2f2f;
/* Input Colors */
    --input-background:       #000000;
    --input-placeholder-text: #cccccc;
/* Channel Colors */
    --channel-color:                 #000000;
    --channels-default:              #999999;
    --channel-icon:                  #999999;
    --channel-text-area-placeholder: #cccccc;
    --channeltextarea-background:    #0e0e0e;
/* Interactive Colors */
    --interactive-normal: #999999;
    --interactive-hover:  #cccccc;
    --interactive-active: #ffffff;
    --interactive-muted:  #333333;
/* Chat Colors */
    --chat-color:        #000000;
    --chat-shadow-color: #000000;
/* Spoiler Colors */
    --spoiler-hidden-background:   #151515;
    --spoiler-revealed-background: #000000;
/* Misc Colors */
    --activity-card-background: #252525;
}
