:root {
    --theme-version-test: "22.05.26@test ";
    --bdAddonMini-bg-unchecked-hover: #0a0a0a;
    --bdfdb-green: #43b683;
}

[id^="Simple Black Theme Test Build"] .bd-addon-header .bd-version {
    font-size: 0;
}

[id^="Simple Black Theme Test Build"] .bd-addon-header .bd-version:before {
    font-size: 12px;
    content: "Release: " var(--theme-version-test);
}

.info-3pQQBb > span:first-child::before {
    content: "Simple Black " var(--theme-version-test);
}

.theme-dark .base-2jDfDU .content-1SgpWY .container-2cd8Mz {
    background-color: var(--background-primary);
}

.theme-dark .pageWrapper-2PwDoS {
    background-color: var(--background-primary);
}

.container-ZMc96U.themed-Hp1KC_ {
    background: #000000;
}

.theme-dark .bd-social-logo path {
    fill: #5865f2;
}

.theme-dark .container-x8Y1ix {
    background-color: #000000;
}

.theme-dark .root-g14mjS,
.theme-dark .footer-31IekZ,
.theme-dark .autocomplete-3NRXG8 {
    background-color: #0a0a0a;
}

.theme-dark .footerSeparator-VzAYwb {
    -webkit-box-shadow: inset 0 1px 0 rgba(10, 10, 10,.6);
    box-shadow: inset 0 1px 0 rgba(10, 10, 10,.6);
}

.theme-dark .colorHeaderSecondary-g5teka {
    color: #afafaf;
}

.theme-dark [id^=uid_1] > h3,
.theme-dark .footerSeparator-VzAYwb > h3,
.theme-dark .colorStandard-21JIj7,
.theme-dark .base-21yXnu {
    color: #ffffff;
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color: #252525;
}

.theme-dark .lookBlank-21BCro {
    color: #afafaf;
}

.theme-dark .input-2g-os5 {
    color: #afafaf;
    background-color: #000000;
}

.theme-dark .anchor-1MIwyf {
    color: #5865f2;
}

.theme-dark .container-2rCwVJ > div > div > div > input{
    background-color: #ffffff;
}

.theme-dark .examplesForm-N_P087 .sampleLink-5BWNy9{
    color: #afafaf;
}

.theme-dark .rowContainer-3t7486 {
    background-color: #000000;
}

.theme-dark .rowContainer-3t7486 .rowIcon-1mRvtM {
    color: #43b683;
}

.theme-dark .perksModal-CLcR1c {
    background-color: var(--background-primary);
}

.theme-dark .keyboardShortcutsModal-2CRmCm {
    background-color: var(--background-secondary);
}

.ctaBar-Nhk8yY,
.theme-dark .tierBody-3ju-rc,
.theme-dark .perk-19D_HN {
    background-color: var(--background-tertiary);
}

.barForeground-2kwBa_ {
    background-color: var(--nitro-color);
}

.theme-dark .tierMarkerBackground-G8FoN4 {
    background-color: var(--nitro-color-alt);
}

.content-vSHmMD .anchor-1MIwyf {
    color: #ffffff;
}

.embedFull-1HGV2S {
    background: var(--background-tertiary);
}

[id^=message-content] > .betterMessageLinks{
    color: var(--interactive-active);
}

.member-2gU6Ar[data-user-id^="956643162456203364"],
.message-2CShn3[data-author-id="956643162456203364"] > .contents-2MsGLg > .header-2jRmjb,
.message-2CShn3[data-author-id="956643162456203364"] > .contents-2MsGLg > .avatar-2e8lTP {
    display: none;
}

.markup-eYLPri a {
    border-color: var(--text-muted);
}

.bd-button,
.bd-addon-views .bd-view-button.selected,
.bd-addon-modal-footer .bd-button {
    background-color: var(--button-color);
}

.bd-button:hover,
.bd-addon-modal-footer .bd-button:hover {
    background-color: var(--button-color-hover);
}

.theme-dark .spoilerText-27bIiA.hidden-3B-Rum {
    background-color: var(--spoiler-hidden-background);
}

.theme-dark .spoilerText-27bIiA {
    background-color: var(--spoiler-revealed-background);
}

.wrapper-1HIH0j {
    background-color: var(--background-tertiary);
}

.container-1eFtFS > div > div > div.container-2cd8Mz > section > div.toolbar-3_r2xA > a {
    display: none;
}

.categoryHeader-OpJ1Ly {
    background-color: var(--scrollbar-thumb);
}

.cardWarning-WRe-Qaf,
.cardWarning-WRe-Qa, .cardWarningOutline-oI6sWf {
    border-color: var(--info-warning-foreground);
}

.circleIconButton-1VxDrg {
    color: var(--button-positive-background);
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: var(--button-positive-background);
}

.circleIconButton-1VxDrg.nitroUpsell-2KcFaN {
    color: var(--interactive-active);
}

.mentioned-Tre-dv,
.replying-eZ7p5z {
    background-color: var(--background-mentioned);
}

.mentioned-Tre-dv.selected-2LX7Jy,
.mouse-mode.full-motion .replying-eZ7p5z:hover {
    background-color: var(--background-mentioned-hover);
}

.newMessagesBar-1hF-9G,
.jumpToPresentBar-1cEnH0 {
    opacity: 1;
    background-color: var(--button-color);
}

.newMessagesBar-1hF-9G:hover,
.jumpToPresentBar-1cEnH0:hover {
    opacity: 1;
    background-color: var(--button-color-hover);
}

.newMessagesBar-1hF-9G:active,
.jumpToPresentBar-1cEnH0:active {
    opacity: 1;
    background-color: var(--button-color-active);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: var(--button-color);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: var(--button-color-hover);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:active {
    background-color: var(--button-color-active);
}

a[title^=Twitter].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX > svg > g > path,
a[title^=Facebook].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX > svg > g > path,
a[title^=Instagram].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX > svg > g > path {
    fill: var(--interactive-normal);
}

a[title^=Twitter].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:hover > svg > g > path,
a[title^=Facebook].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:hover > svg > g > path,
a[title^=Instagram].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:hover > svg > g > path {
    fill: var(--interactive-hover);
}

a[title^=Twitter].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:active > svg > g > path,
a[title^=Facebook].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:active > svg > g > path,
a[title^=Instagram].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:active > svg > g > path {
    fill: var(--interactive-active);
}

.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX.bd-social-link > svg > g > path {
    fill: var(--interactive-normal);
}

.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX.bd-social-link:hover > svg > g > path:nth-child(2) {
    fill: var(--interactive-active);
}

.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX.bd-social-link:active > svg > g > path {
    fill: var(--interactive-active);
}

.lookOutlined-3yKVGo.colorRed-rQXKgM:active {
    background-color: var(--button-outline-danger-background-active);
    border-color: var(--button-outline-danger-border-active);
}

#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div.container-1eFtFS > div > div > div.chat-2ZfjoI > section > div.toolbar-3_r2xA > a {
    display: none;
}
