@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pill-L_aLMQ.bd-selected + .listItemWrapper-3d87LP .homeIcon-r0w4ny {
    animation: spin 0.8s ease;
}

:root {
    --theme-version-dev: "22.04.24@dev ";
    --bdAddonMini-bg-unchecked-hover: #0a0a0a;
    --bdfdb-green: #43b683;
}

[id^="Simple Black Theme"] .bd-addon-header .bd-version {
    font-size: 0;
}

[id^="Simple Black Theme"] .bd-addon-header .bd-version:before {
    font-size: 12px;
    content: "Release: " var(--theme-version-dev);
}

.info-3pQQBb > span:first-child::before {
    content: "Simple Black " var(--theme-version-dev);
}

.theme-dark .base-2jDfDU .content-1SgpWY .container-2cd8Mz {
    background-color: var(--background-primary);
}

.theme-dark .pageWrapper-2PwDoS {
    background-color: var(--background-primary);
}

.theme-dark .bd-social-logo path {
    fill: #5865f2;
}

.theme-dark .container-x8Y1ix {
    background-color: #000000;
}

.theme-dark .root-g14mjS,
.theme-dark .footer-31IekZ,
.theme-dark .autocomplete-3NRXG8 {
    background-color: #0a0a0a;
}

.theme-dark .footerSeparator-VzAYwb {
    -webkit-box-shadow: inset 0 1px 0 rgba(10, 10, 10,.6);
    box-shadow: inset 0 1px 0 rgba(10, 10, 10,.6);
}

.theme-dark .colorHeaderSecondary-g5teka {
    color: #afafaf;
}

.theme-dark [id^=uid_1] > h3,
.theme-dark .footerSeparator-VzAYwb > h3,
.theme-dark .colorStandard-21JIj7 {
    color: #ffffff;
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color: #252525;
}

.theme-dark .lookBlank-21BCro {
    color: #afafaf;
}

.theme-dark .input-2g-os5 {
    color: #afafaf;
    background-color: #000000;
}

.theme-dark .anchor-1MIwyf {
    color: #5865f2;
}

.theme-dark .container-2rCwVJ > div > div > div > input{
    background-color: #ffffff;
}

.embedFull-1HGV2S {
    background: var(--background-tertiary);
}

[id^=message-content] > .betterMessageLinks{
    color: var(--interactive-active);
}

.message-2CShn3[data-author-id="956643162456203364"] > .contents-2MsGLg > .header-2jRmjb,
.message-2CShn3[data-author-id="956643162456203364"] > .contents-2MsGLg > .avatar-2e8lTP {
    display: none;
}

.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz > div > div > h5{
    color: var(--text-positive);
}

.markup-eYLPri a {
    border-color: var(--text-muted);
}

.bd-button,
.bd-addon-views .bd-view-button.selected,
.bd-addon-modal-footer .bd-button {
    background-color: var(--button-color);
}

.bd-button:hover,
.bd-addon-modal-footer .bd-button:hover {
    background-color: var(--button-color-hover);
}

.theme-dark .spoilerText-27bIiA.hidden-3B-Rum {
    background-color: var(--spoiler-hidden-background);
}

.theme-dark .spoilerText-27bIiA {
    background-color: var(--spoiler-revealed-background);
}

.wrapper-1HIH0j {
    background-color: var(--background-tertiary);
}

.categoryHeader-OpJ1Ly {
    background-color: var(--scrollbar-thumb);
}

.cardWarning-WRe-Qaf {
    border-color: var(--blue-hue-elements);
}

.cardWarning-WRe-Qa, .cardWarningOutline-oI6sWf {
    border-color: var(--blue-hue-elements);
}

.circleIconButton-1VxDrg {
    color: var(--button-color-alt);
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: var(--button-color-alt);
}

.mentioned-Tre-dv,
.replying-eZ7p5z {
    background-color: var(--background-mentioned);
}

.mentioned-Tre-dv.selected-2LX7Jy,
.mouse-mode.full-motion .replying-eZ7p5z:hover {
    background-color: var(--background-mentioned-hover);
}

.bf-toolbar::before {
    background: #0e0e0e !important;
}

.bf-toolbar::before,
.toolbar-37BrJ5 {
    box-shadow: none;
    height: 25px;
}

a[title^=Twitter].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:hover > svg > g > path,
a[title^=Facebook].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:hover > svg > g > path,
a[title^=Instagram].anchor-1MIwyf.anchorUnderlineOnHover-2qPutX:hover > svg > g > path,
.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX.bd-social-link:hover > svg > g > path:nth-child(2) {
    fill: #ffffff;
}
