@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pill-L_aLMQ.bd-selected + .listItemWrapper-3d87LP .homeIcon-r0w4ny {
    animation: spin 0.8s ease;
}

:root {
    --addon-version: "22.04.18 (inDev) ";
    --bdAddonMini-bg-unchecked-hover: #0a0a0a;
    --bdfdb-green: #43b683;
    --mentioned-color: 88, 101, 242;
}

[id^="Simple Black Theme"] .bd-addon-header .bd-version {
    font-size: 0;
}

[id^="Simple Black Theme"] .bd-addon-header .bd-version:before {
    font-size: 12px;
    content: "Release: " var(--addon-version);
}

.theme-dark .base-2jDfDU .content-1SgpWY .container-2cd8Mz {
    background-color: var(--background-primary);
}

.theme-dark .root-g14mjS,
.theme-dark .footer-31IekZ,
.theme-dark .autocomplete-3NRXG8 {
    background-color: var(--background-tertiary);
}

.embedFull-1HGV2S {
    background: var(--background-tertiary);
}

#chat-messages-963025708484018206 > div > div.contents-2MsGLg > img,
#chat-messages-963025708484018206 > div > div.contents-2MsGLg > h2,
#chat-messages-952631811199078404 > div.members-1CYCy_,
.container-1oeRFJ[data-user-id^="956643162456203364"],
.content-2a4AW9 > h2:nth-child(2) {
    display: none;
}

.markup-eYLPri a {
    border-color: var(--text-muted);
}

.bd-button,
.bd-button:hover,
.bd-addon-views .bd-view-button.selected,
.bd-addon-modal-footer .bd-button {
    background-color: var(--button-color);
}

.theme-dark .spoilerText-27bIiA.hidden-3B-Rum {
    background-color: var(--spoiler-hidden-background);
}

.theme-dark .spoilerText-27bIiA {
    background-color: var(--spoiler-revealed-background);
}

.wrapper-1HIH0j {
    background-color: var(--background-tertiary);
}

.categoryHeader-OpJ1Ly {
    background-color: var(--scrollbar-thumb);
}

.circleIconButton-1VxDrg {
    color: var(--button-color-alt);
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: var(--button-color-alt);
}

.mentioned-Tre-dv::before {
    background-color: rgb(var(--mentioned-color));
}

.mentioned-Tre-dv {
    background-color: rgba(var(--mentioned-color),0.1);
}

.mentioned-Tre-dv.selected-2LX7Jy {
    background-color: rgba(var(--mentioned-color),0.15);
} 
