/** Simple Black Theme - Saturation Factor Module **/

:root {
    --brand-color: hsl(235, calc(var(--saturation-factor, 1)*86%), 65%) !important;
/** Text Colors **/
    --text-link: hsl(235, calc(var(--saturation-factor, 1)*86%), 65%) !important;
    --text-link-low-saturation: hsl(235, calc(var(--saturation-factor, 1)*43%), 65%) !important;
    --text-danger: hsl(359, calc(var(--saturation-factor, 1)*67%), 54%) !important;
    --text-positive: hsl(153, calc(var(--saturation-factor, 1)*46%), 49%) !important;
    --text-warning: hsl(38, calc(var(--saturation-factor, 1)*96%), 54%) !important;
    --text-brand: hsl(235, calc(var(--saturation-factor, 1)*86%), 65%) !important;
    --text-mention: hsl(235, calc(var(--saturation-factor, 1)*86%), 96%) !important;
/** Nitro Colors **/
    --nitro-color: hsl(302, calc(var(--saturation-factor, 1)*100%), 73%) !important;
    --nitro-color-hover: hsl(302, calc(var(--saturation-factor, 1)*90%), 68%) !important;
    --nitro-color-active: hsl(302, calc(var(--saturation-factor, 1)*80%), 63%) !important;
/** Control Brand Colors **/
    --control-brand-foreground: hsl(235, calc(var(--saturation-factor, 1)*86%), 65%) !important;
    --control-brand-foreground-new: hsl(235, calc(var(--saturation-factor, 1)*86%), 65%) !important;
/** Mention Colors **/
    --background-mentioned: hsla(235, calc(var(--saturation-factor, 1)*86%), 65%, 0.145) !important;
    --background-mentioned-hover: hsla(235, calc(var(--saturation-factor, 1)*86%), 65%, 0.314) !important;
/** Message Hover Colors **/
    --background-message-automod: hsla(359, calc(var(--saturation-factor, 1)*67%), 54%, 0.145) !important;
    --background-message-automod-hover: hsla(359, calc(var(--saturation-factor, 1)*67%), 54%, 0.314) !important;
/** Info Colors **/
    --info-danger-background: hsla(359, calc(var(--saturation-factor, 1)*67%), 54%, 0.314) !important;
    --info-danger-foreground: hsl(359, calc(var(--saturation-factor, 1)*67%), 54%) !important;
    --info-positive-background: hsla(153, calc(var(--saturation-factor, 1)*46%), 49%, 0.314) !important;
    --info-positive-foreground: hsl(153, calc(var(--saturation-factor, 1)*46%), 49%) !important;
    --info-warning-background: hsla(38, calc(var(--saturation-factor, 1)*96%), 54%, 0.314) !important;
    --info-warning-foreground: hsl(38, calc(var(--saturation-factor, 1)*96%), 54%) !important;
    --info-help-background: hsla(235, calc(var(--saturation-factor, 1)*86%), 65%, 0.314) !important;
    --info-help-foreground: hsl(235, calc(var(--saturation-factor, 1)*86%), 65%) !important;
/** Status Colors **/
    --status-danger: hsl(359, calc(var(--saturation-factor, 1)*67%), 54%) !important;
    --status-danger-background: hsla(359, calc(var(--saturation-factor, 1)*67%), 54%, 0.314) !important;
    --status-positive: hsl(153, calc(var(--saturation-factor, 1)*46%), 49%) !important;
    --status-positive-background: hsla(153, calc(var(--saturation-factor, 1)*46%), 49%, 0.314) !important;
    --status-warning: hsl(38, calc(var(--saturation-factor, 1)*96%), 54%) !important;
    --status-warning-background: hsla(38, calc(var(--saturation-factor, 1)*96%), 54%, 0.314) !important;
/** Button Colors **/
    --button-color: hsl(235, calc(var(--saturation-factor, 1)*86%), 65%) !important;
    --button-color-hover: hsl(235, calc(var(--saturation-factor, 1)*68%), 58%) !important;
    --button-color-active: hsl(235, calc(var(--saturation-factor, 1)*49%), 51%) !important;
    --button-color-disabled: hsl(235, calc(var(--saturation-factor, 1)*30%), 44%) !important;
/** Button Danger Colors **/
    --button-danger-background: hsl(359, calc(var(--saturation-factor, 1)*67%), 54%) !important;
    --button-danger-background-hover: hsl(359, calc(var(--saturation-factor, 1)*67%), 44%) !important;
    --button-danger-background-active: hsl(359, calc(var(--saturation-factor, 1)*67%), 34%) !important;
    --button-danger-background-disabled: hsl(359, calc(var(--saturation-factor, 1)*67%), 24%) !important;
/** Button Positive Colors **/
    --button-positive-background: hsl(153, calc(var(--saturation-factor, 1)*46%), 49%) !important;
    --button-positive-background-hover: hsl(153, calc(var(--saturation-factor, 1)*46%), 44%) !important;
    --button-positive-background-active: hsl(153, calc(var(--saturation-factor, 1)*46%), 34%) !important;
    --button-positive-background-disabled: hsl(153, calc(var(--saturation-factor, 1)*46%), 24%) !important;
/** Button Secondary Colors **/
    --button-secondary-background: hsl(0, 0%, 15%) !important;
    --button-secondary-background-hover: hsl(0, 0%, 10%) !important;
    --button-secondary-background-active: hsl(0, 0%, 5%) !important;
    --button-secondary-background-disabled: hsl(0, 0%, 1%) !important;
/** Button Outline Danger Colors **/
    --button-outline-danger-border: hsl(359, calc(var(--saturation-factor, 1)*67%), 54%) !important;
    --button-outline-danger-background: transparent;
    --button-outline-danger-background-hover: hsl(359, calc(var(--saturation-factor, 1)*67%), 54%) !important;
    --button-outline-danger-border-hover: hsl(359, calc(var(--saturation-factor, 1)*67%), 54%) !important;
    --button-outline-danger-background-active: hsl(359, calc(var(--saturation-factor, 1)*67%), 34%) !important;
    --button-outline-danger-border-active: hsl(359, calc(var(--saturation-factor, 1)*67%), 34%) !important;
/** Button Outline Positive Colors **/
    --button-outline-positive-border: hsl(153, calc(var(--saturation-factor, 1)*46%), 49%) !important;
    --button-outline-positive-background: transparent;
    --button-outline-positive-background-hover: hsl(153, calc(var(--saturation-factor, 1)*46%), 49%) !important;
    --button-outline-positive-border-hover: hsl(153, calc(var(--saturation-factor, 1)*46%), 49%) !important;
    --button-outline-positive-background-active: hsl(153, calc(var(--saturation-factor, 1)*46%), 34%) !important;
    --button-outline-positive-border-active: hsl(153, calc(var(--saturation-factor, 1)*46%), 34%) !important;
/** Button Outline Brand Colors **/
    --button-outline-brand-border: hsl(235, calc(var(--saturation-factor, 1)*86%), 65%) !important;
    --button-outline-brand-background: transparent;
    --button-outline-brand-background-hover: hsl(235, calc(var(--saturation-factor, 1)*86%), 65%) !important;
    --button-outline-brand-border-hover: hsl(235, calc(var(--saturation-factor, 1)*86%), 65%) !important;
    --button-outline-brand-background-active: hsl(235, calc(var(--saturation-factor, 1)*49%), 51%) !important;
    --button-outline-brand-border-active: hsl(235, calc(var(--saturation-factor, 1)*49%), 51%) !important;
/** Button Outline Primary Colors **/
    --button-outline-primary-border: hsl(217, calc(var(--saturation-factor, 1)*8%), 34%) !important;
    --button-outline-primary-background: transparent;
    --button-outline-primary-background-hover: hsl(217, calc(var(--saturation-factor, 1)*8%), 34%) !important;
    --button-outline-primary-border-hover: hsl(217, calc(var(--saturation-factor, 1)*8%), 34%) !important;
    --button-outline-primary-background-active: hsl(213, calc(var(--saturation-factor, 1)*5%), 43%) !important;
    --button-outline-primary-border-active: hsl(213, calc(var(--saturation-factor, 1)*5%), 43%) !important;
}
