:root{
    --addon-version:"22.05.02 "
}

[id^="Alexis Square Channels Buttons"] .bd-addon-header .bd-version:before{
    content:"version " var(--addon-version)
}

[id^="Alexis Square Channels Buttons"] .bd-addon-header .bd-version{
    font-size:0
}

[id^="Alexis Square Channels Buttons"] .bd-addon-header .bd-version:before{
    font-size:14px
}
