/**
 * @name Alexis Square Channels Buttons Add-on
 * @author OlavWolfiken
 * @authorId 
 * @authorLink https://github.com/OlavWolfiken
 * @version 22.05.02
 * @description An add-on for [Alexis Modern Discord Theme](https://github.com/AlexisJonsson/AlexisJonsson.github.io/tree/master/BetterDiscordAddons/Themes), that allows the user to apply the custom square channel design, found on Alexis' server, to any server of their choosing. **Note:** It is recommended to use this add-on alongside the original theme!
 * @website https://olavwolfiken.github.io/BetterDiscord/
 * @source https://github.com/OlavWolfiken/BetterDiscord/tree/main/Themes/Add-ons/Alexis%20Square%20Channel%20Buttons/
 * @invite RYsm9RWv66
 * @donate 
 * @patreon 
 * @updateUrl https://olavwolfiken.github.io/BetterDiscord/Themes/Add-ons/Alexis%20Square%20Channel%20Buttons/square-buttons-addon.theme.css
**/
@import url("https://onkofonko.github.io/theme/fixedsource.css");
@import url("https://onkofonko.github.io/theme/fixes.css");
@import url("https://olavwolfiken.github.io/BetterDiscord/Themes/Add-ons/Alexis%20Square%20Channel%20Buttons/square-buttons-addon.source.css");

/* Square Channels Buttons ->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 a .iconContainer-21RCa3{
    --size:32px;
    left:calc(50% - 16px);
    margin-bottom:12px
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 a .name-28HaxV{
    text-align:center;
    font-size:14px
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3{
    width:50%;
    margin-left:8px;
    margin-bottom:8px
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3 .content-1gYQeQ{
    padding:8px;
    margin:0
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-3TQ5YN{
    width:100%;
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-3TQ5YN~.containerDefault-YUSmu3{
    width:100%;
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3:nth-child(odd){
    width:calc(50% - 8px);
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3:nth-child(even){
    width:calc(50% - 8px);
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3 .content-1gYQeQ .mainContent-20q_Hp .iconContainer-21RCa3{
    transition:transform 45ms ease
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3 .content-1gYQeQ:active .mainContent-20q_Hp .iconContainer-21RCa3{
    transform:translate(0,2px)
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .containerDefault-YUSmu3 .mainContent-20q_Hp{
    display:block
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .wrapper-NhbLHG{
    padding:0
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .content-1gYQeQ{
    background-color:var(--background-transparent-header)
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .content-2a4AW9 .content-1gYQeQ:hover{
    background-color:var(--background-modifier-hover)
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .name-3Uvkvr{
    font-size:calc(var(--server-title-fontsize) + 2px)
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] .scroller-1ox3I2.thin-31rlnD.scrollerBase-_bVAAt{
    --mask-image:none
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] [data-list-item-id*="channels___upcoming-events-"]>div.iconContainer-21RCa3>svg{
    height:32px;
    width:32px;
    margin-left:calc(50% - 8px);
    margin-bottom:12px
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"] [data-list-item-id*="channels___upcoming-events-"]>div.name-28HaxV{
    text-align:center;
    font-size:14px;
    font-family:dash2space,var(--font-primary);
    text-transform:capitalize
} /* --->--->--->--->--->--->--->--->--->--->--->--->---> vv REPLACE THIS vv */
#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="INSERT SERVER NAME"]>#channels>ul>li:nth-child(n)>div>div>.children-1MGS9G{
    position:absolute;
    left:calc(var(--sidebar-width)/3.16);
}
