/**
 * @name Alexis Square Channels Buttons Add-on
 * @author OlafHarlender#0134
 * @authorLink https://github.com/OlavWolfiken
 * @version 22.02.21 (inDev)
 * @source https://github.com/OlavWolfiken/BetterDiscord/tree/main/Themes/Add-ons/Alexis%20Square%20Channel%20Buttons
 * @description An add-on for [Alexis Modern Discord Theme](https://github.com/AlexisJonsson/AlexisJonsson.github.io/tree/master/BetterDiscordAddons/Themes). **Note:** It is recommended to use this add-on alongside the theme!
 * @website https://olavwolfiken.github.io/
*/
@import url(https://olavwolfiken.github.io/BetterDiscord/Themes/Add-ons/Alexis%20Square%20Channel%20Buttons/square-buttons-addon.source.css);
:root{
    /*Server Name*/
    --server-name:Test Server; /* Choose the name of the Server you want the Square Channel Buttons to be applied to */
}
:root{
    --addon-version:"22.02.21 (inDev) "
}
[id^="Alexis Square Channels Buttons Add-on"] .bd-addon-header .bd-version{
    font-size:0
}
[id^="Alexis Square Channels Buttons Add-on"] .bd-addon-header .bd-version:before{
    font-size:14px
}
[id^="Alexis Square Channels Buttons Add-on"] .bd-addon-header .bd-version:before{
    content:"version " var(--addon-version)
}